export(begin)
export(colfreq)
export(colmean)
export(colnmissing)
export(colrange)
export(colsum)
export(current_line)
export(detect_dm_csv)
export(determine_nlines)
export(get_lines)
export(goto)
export(laf_open)
export(laf_open_csv)
export(laf_open_fwf)
export(next_block)
export(process_blocks)
export(read_dm)
export(read_dm_blaise)
export(read_lines)
export(sample_lines)
export(write_dm)
exportClasses(laf)
exportClasses(laf_column)
exportMethods("$")
exportMethods("[[")
exportMethods("levels<-")
exportMethods("names<-")
exportMethods(begin)
exportMethods(close)
exportMethods(colfreq)
exportMethods(colmean)
exportMethods(colnmissing)
exportMethods(colrange)
exportMethods(colsum)
exportMethods(current_line)
exportMethods(goto)
exportMethods(levels)
exportMethods(names)
exportMethods(ncol)
exportMethods(next_block)
exportMethods(nrow)
exportMethods(process_blocks)
exportMethods(read_lines)
exportMethods(show)
importFrom(Rcpp,evalCpp)
useDynLib(LaF)
